<h1>Login</h1>



<%= link_to 'https://id.getharvest.com/oauth2/authorize?client_id=XRkPD4vFB4Jmv5NLXTJ_k8me&response_type=code
' do %>
<div class="mt-350 new-project">
	<i class="material-icons icon-add mr-133">input</i>
	<p class="text-24 blue">Log in with Harvest</p>
</div>
<% end %>


