<div class="row">
  <div class="top-nav">
    <div class="col-2"></div>
    <div class="inner-nav col-8" >
      <p class="setup-login-information"><%= obj %></p>
      <p class="setup-login-information-small"><%= obj2 %></p>
    </div>
    <div class="col-2"></div>
  </div>
</div>
