<% content_for :navigation, render('layouts/custom_setup_top_bar', obj: 'Setup organisation', obj2: "My organisation doesn't user these tools") %>
<p class="setup-headline-no-box">Connect to tools</p>
<p class="setup-subtitle">What tools does your organisation use?</p>
<div class="row">
  <div class="col-1"></div>
  <div class="tool-boxes col-10">
    <%= link_to 'https://id.getharvest.com/oauth2/authorize?client_id=0QOx5ejoU4UkejJN6aCNXNDG&response_type=code&redirect_uri=http://localhost:3000/organisations/' + @organisation.id.to_s + '/connect_to_tools/' do %>
      <div>
        <%= image_tag "harvest-logo-icon.png", class: "tools-logo-height"%>
      </div>
    <% end %>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="col-1"></div>
</div>
<div class="row setup-navigation">
  <div class="col-1"></div>
  <div class="back-button col-1">
    <%= link_to 'setup-organisation' do %>
      <p>Back</p>
    <% end %>
  </div>
  <div class="col-2"></div>
  <div class="col-4 numbers-in-setup inside-number">
    <div class="selected">
      <p class="selected">1</p>
    </div>
    <div class="selected">
      <p class="selected">2</p>
    </div>
    <div>
      <p>3</p>
    </div>
    <div>
      <p>4</p>
    </div>
    <div>
      <p>5</p>
    </div>
  </div>
  <div class="col-2"></div>
  <%= link_to new_organisation_user_path, data: { turbolinks: false } do %>
    <div class="next-and-add-organisation">Next</div>
  <% end %>
  <div class="col-1"></div>
</div>
