<% content_for :navigation, render('custom_setup_top_bar', obj: '', obj2: '') %>
<h1>Done!</h1>

Congratulations

<div class="row">
	<div class="col-5"></div>
	<div class="col-2">
		<%= link_to '/#' do %>
		<div class="next-done">Next</div>
		<% end %>
	</div>
	<div class="col-5"></div>
</div>