<% content_for :navigation, render('layouts/custom_setup_top_bar', obj: '', obj2: '') %>

<div class="row">
	<div class="col-3"></div>
	<div class="invite-colleagues-box col-6">
		<div class="mt-5">
			<i class="material-icons icon-46">thumb_up</i>
		</div>
		<p class="setup-headline-box mt-300 mb-300">Done! Congratulations!</p>
			<p class="explainer mb-300">Log in and start setting up your dashboard</p>
			<%= form_for :session, :url => { controller: "sessions", action: "create_set_up"} do |f| %>
			<%= f.hidden_field :user_id, :value => params[:user_id] %>
			<%= f.submit 'Log in', :class => 'next-done mb-5' %>
			<% end %>
	</div>
</div>