
<div class="row setup-navigation">


	<%= link_to back do %>
	<p>Back</p>
	<% end %>

		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>

	
	
	<%= link_to forward do %>
	<i class="material-icons">arrow_forward</i>
	<% end %>
</div>