<% content_for :navigation, render('custom_setup_top_bar', obj: 'Setup organisation', obj2: "My organisation doesn't user these tools") %>
<h1>Connect to tools</h1>


<div>
	<i class="material-icons">arrow-right</i>
</div>


<%= render 'setup_navigation', back: 'setup-organisation', forward: 'sign-in' %>