<% content_for :navigation, render('custom_setup_top_bar', obj: 'Setup organisation', obj2: 'My organisation is already signed up') %>
<h1>Setup organisation</h1>


<p>Name:</p>


<%= render 'setup_navigation', back: '/#', forward: 'connect-to-tools' %>