<% content_for :navigation, render('custom_setup_top_bar', obj: 'Setup organisation', obj2: '') %>
<h1>Sign in</h1>



	


<%= render 'setup_navigation', back: 'connect-to-tools', forward: 'create-user' %>




