
<div class="d-flex justify-content-between mt-5">
	<%= link_to back do %>
	<i class="material-icons">arrow_back</i> 
	<% end %>
	<%= link_to forward do %>
	<i class="material-icons">arrow_forward</i>
	<% end %>
</div>