<h1>Landing page</h1>


<p>This is a landing page</p>

<%= link_to setup_intro_path do %>
<div class="mt-350 new-project">
	<p class="text-24 blue">I want to create a user</p>
</div>
<% end %>

<%= link_to 'https://id.getharvest.com/oauth2/authorize?client_id=XRkPD4vFB4Jmv5NLXTJ_k8me&response_type=code
' do %>
<div class="mt-350 new-project">
	<i class="material-icons icon-add mr-133">input</i>
	<p class="text-24 blue">Log in with Harvest</p>
</div>
<% end %>




<script>
	
function myFunction() {
    window.open("https://id.getharvest.com/oauth2/authorize?client_id=XRkPD4vFB4Jmv5NLXTJ_k8me&response_type=code", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=100,left=500,width=500,height=400");
}
</script>