<h1>Project.io</h1>


<p>This is a landing page</p>

<%= link_to setup_setup_organisation_path do %>
<div class="mt-350 new-project">
	<p class="text-24 blue">Get started</p>
</div>
<% end %>

<%= link_to 'https://id.getharvest.com/oauth2/authorize?client_id=0QOx5ejoU4UkejJN6aCNXNDG&response_type=code
' do %>
<div class="mt-350 new-project">
	<i class="material-icons icon-add mr-133">input</i>
	<p class="text-24 blue">Log in with Harvest</p>
</div>
<% end %>

<script>
	