<div class="setup-flow-wrapper">
        <h1>Adjust Asana Projects</h1>
        <p>How do you specify done tasks for this project?</p>

        <div class="tool-boxes">
          <%= link_to dashboard_path %>
          <div>Marked as done</div>
          <% end %>
          <div>Moved to column</div>
          <div>Given a specific tag</div>
        </div>
        
        <div class="col-6 setup-navigation">
            <div class="inside-number">
              <div class="back-button">
                <%= link_to new_organisation_path, data: { turbolinks: false } do %>
                <p>Back</p>
                <% end %>
              </div>
              <div class="numbers-in-setup selected">
                <p class="number selected">1</p>
              </div>
              <div class="numbers-in-setup selected">
                <p class="number selected">2</p>
              </div>
              <div class="numbers-in-setup selected">
                <p class="number selected">3</p>
              </div>
              <div class="numbers-in-setup selected">
                <p class="number selected">4</p>
              </div>
              <div class="numbers-in-setup">
                <p class="number">5</p>
              </div>
              <%= link_to root_path, data: { turbolinks: false } do %>
              <div class="next-and-add-organisation next-button">Next</div>
              <% end %>
            </div>
          </div>
        </div>