<div class="d-flex justify-content-center">

<div class="mt-200 inner-addon left-addon">
<i class="material-icons icon-18 search">search</i>
<input type="text" name="search" placeholder="Project, risk, ID, or something completely different">
</div>
</div>	


<div>
	<p class="helper-headline mt-200">Select a project to add to your portfolio
	</p>
</div>


	<div class="client-name">ClientName</div>
	<div class="project-boxes">
		<div class="already-on-dashboard">
			<p>ProjectName</p>
			<i class="material-icons">done</i>
		</div>
			<div>
			<p>ProjectName</p>
			<i class="material-icons">done</i>
		</div>
			<div>
			<p>ProjectName</p>
			<i class="material-icons">done</i>
		</div>
			<div>
			<p>ProjectName</p>
			<i class="material-icons">done</i>
		</div>
	</div>


