<div class="d-flex justify-content-center">

<div class="mt-200 inner-addon left-addon">
<i class="material-icons icon-18 search">search</i>
<input class="search-bar" type="text" name="search" placeholder="Project, risk, ID, or something completely different">
</div>
</div>	

<div class="row">
	<div class="col-1"></div>
	<div class="col-10 d-flex flex-row mt-266">
		<div class="d-flex flex-column justify-content-center mr-3">
			<i class="material-icons icon-24">done</i>
		</div>
		<div class="d-flex flex-column">
			<p class="text-16">Congratulations!</p>
			<p class="text-24">Here are your archived projects</p>
		</div>
	</div>
	<div class="col-1"></div>
</div>

<div class="row">
<div class="col-1 monthly-process-assessment-hide"></div>
<%= render 'project', obj: @archived_projects %>
<div class="col-1 monthly-process-assessment-hide"></div>
<div class="monthly-process-assessment-active col-2">
</div>
</div>


