
<div class="d-flex justify-content-center">

<div class="mt-200 inner-addon left-addon">
<i class="material-icons icon-18 search">search</i>
<input type="text" name="search" placeholder="Project, risk, ID, or something completely different">
</div>
</div>	

<div class="row">
	<div class="col-1"></div>
	<div class="col-10 d-flex flex-row mt-266">
		<div class="d-flex flex-column justify-content-center mr-3">
			<i class="material-icons icon-24">trending_up</i>
		</div>
		<div class="d-flex flex-column">
			<p class="text-16">Welcome back, Lone</p>
			<p class="text-24">Everything seems to be on track!</p>
		</div>
	</div>
	<div class="col-1"></div>
</div>

<div class="row">
<div class="col-1 monthly-process-assessment-hide"></div>
<%= render 'project', obj: @projects %>
<div class="col-1 monthly-process-assessment-hide"></div>
<div class="monthly-process-assessment-active col-2">

</div>
</div>


<%= link_to projects_url do %>
<div class="mt-350 new-project">
<i class="material-icons icon-add mr-133">add</i>
<p class="text-24 blue">Add Project</p>
</div>
<% end %>




