
<div class="d-flex justify-content-center">

	<div class="mt-200 inner-addon left-addon">
		<i class="material-icons icon-18 search">search</i>
		<input class="search-bar" type="text" name="search" placeholder="Project, risk, ID, or something completely different">
	</div>
</div>	

<div class="row">
	<div class="col-1"></div>
	<div class="col-10 d-flex flex-row mt-266">
		<div class="d-flex flex-column justify-content-center mr-3">
			<% if @user.projects.any? {|project| project.completion_percentage > 103 || project_in_need_of_risk_update?(project) } %>
			<i class="material-icons icon-24-attention">error</i>
			<% 	else %>
			<i class="material-icons icon-24">trending_up</i>
			<% 	end %>

		</div>
		<div class="d-flex flex-column">
			<p class="text-16">Welcome back</p>


			<% if @user.projects.any? {|project| project_in_need_of_risk_update?(project) } %>
			<p class="text-24">You have <%= pluralize( @user.projects.count {|project| project_in_need_of_risk_update?(project) }, 'project') %> in need of a risk update</p> 
			<% elsif @user.projects.any? {|project| project.completion_percentage > 103 } %>
			<p class="text-24">Some of your projects have gone over time. Do something, pleeease!</p> 
			<% 	else %>
			<p class="text-24">Everything seems to be on track!</p>
			<% 	end %>
		</div>
	</div>
	<div class="col-1"></div>
</div>

<div class="row">
	<div class="col-1 monthly-process-assessment-hide"></div>
	<%= render 'project', obj: @user.projects %>
	<div class="col-2">
		<% @user.projects.each do |project| %>
		<div class="monthly-process-assessment-active">
	
		</div>

		<% end %>
	</div>
	<div class="col-1 monthly-process-assessment-hide">
	</div>

</div>


<%= link_to projects_url do %>
<div class="mt-350 new-project">
	<i class="material-icons icon-add mr-133">add</i>
	<p class="text-24 blue">Add Project</p>
</div>
<% end %>




