<h1>Revenue</h1>


<div class="row">

<% @projects.each do |project| %>
	<div class="col-1"></div>
	<div class="col-1">
		<div><%=project.client_name %></div>
		<div><%=project.project_name %></div>
	</div>
  <div class="col-1">
  	 
  </div>
  <div class="col-1">
  	<div>Three</div>
  </div>
  <div class="col-1">
  	<div>Four</div>
  </div>
  <div class="col-1">
  	<div>Five</div>
  </div>
  <div class="col-1">
  	<div>Six</div>
  </div>
  <div class="col-1">
  	<div>Seven</div>
  </div>
  <div class="col-1">
  	<div>Eight</div>
  </div>
  <div class="col-1">
  	<div>Nine</div>
  </div>
  <div class="col-1">
  	<div>Ten</div>
  </div>
  <div class="col-1"></div>
	<% end %>
	  
       
       
       
       
      
	
</div>


