
@import "bootstrap";

//general styles
h1,h2,h3,h4,h5,h6,p {
	color: #fff;
}

h4 {
	margin:0rem;
}

p {
	font-size: 0.7em;
	margin-bottom:0rem; 
}

.body {
	background-color: #242424;
}

//Styling for cards
.card {
	background-color: #003889;
	padding-top: 5px;
	margin-top: 30px;
}

.card-elements {
	padding: 3em;
	border-color:#fff;
	border-width:3px;
	border-style: solid; 

	
	.card-elements:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 100%;
}

	
}


.progress {
	 background-color: #003889;

}

.spacer {
	padding-top: 30px;
}

delete-button {
	background-color: #fff;
}