
@import "bootstrap";

//Styles for CSS custom properties (variables)

:root {
	--primary-color: 13,57,255;
	--attention: #FFCC77;

	--secondary-color: #920DFF;
	--danger-color: #E11750;
	--client1: 13,57,255;
	--client2: 146,13,255;
	--client3: 130,2,99;
	--client4: 161,44,255;
	--client5: 241,113,5;
	--client6: 4,139,168;
	--client7: 158,0,49;
	--client8: 1,255,154;
}



.client1 {
	--primary-color: var(--client1);
}
.client2 {
	--primary-color: var(--client2);
}
.client3 {
	--primary-color: var(--client3);
}
.client4 {
	--primary-color: var(--client4);
}
.client5 {
	--primary-color: var(--client5);
}
.client6 {
	--primary-color: var(--client6);
}
.client7 {
	--primary-color: var(--client7);
}
.client8 {
	--primary-color: var(--client8);
}

// Screen size variables
$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

// Mixins
@mixin xs { @media (min-width: #{$screen-xs-min}) {@content;} } // Tiny devices
@mixin sm { @media (min-width: #{$screen-sm-min}) {@content;} } // Small devices
@mixin md { @media (min-width: #{$screen-md-min}) {@content;} } // Medium devices
@mixin lg { @media (min-width: #{$screen-lg-min}) {@content;} } // Large devices
@mixin xl { @media (min-width: #{$screen-xl-min}) {@content;} } // Extra large devices


.container {
	margin-top: 78px;
	margin-bottom: 20px;
}

//general styles
h1,h2,h3,h4,h5,h6,p {
	color: #4a4a4a;
	font-family: "Work Sans";
}

h6 {
	color: #000000;
	font-family: "Work Sans";
	font-size: 24px;
	line-height: 28px;
}

a {
	color: #0D39FF;
}

a:hover {
	text-decoration: none;
	color: #0D39FF
}

h4 {
	margin:0rem;
}

p.text-16 {
	font-size: 16px;
	line-height: 28px;
}

.text-14 {
	color: #9B9B9B;
	font-size: 14px;
}

p.text-16-19 {
	font-size: 16px;
	line-height: 19px;
	color: #0D39FF;
}

p.text-24 {
	font-size: 24px;
	line-height: 28px;
}



p.text-32 {
	color: #000000;
	font-size: 32px;
	line-height: 38px;
}

p.text-44 {
	color: #4A4A4A;
	font-family: "Work Sans";
	font-size: 44px;
	font-weight: 600;
	line-height: 52px;
}

.title {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.tekst {
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	vertical-align: middle !important;
}

.company-name {
	color: #4A4A4A;
	font-family: "Work Sans";
	font-size: 18px;
	line-height: 21px;
}

.numbers {
	color: rgb(var(--primary-color));
	font-family: "Work Sans";
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}

.helper-headline {
	color: #9B9B9B;
	font-family: "Work Sans";
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}

.blue {
	color: rgb(var(--primary-color));
}

p.task-text {
	color: rgb(var(--primary-color));
	font-family: "Work Sans";
	font-size: 8px;
	line-height: 9px;
	text-align: center;
	padding-top: 4px;
}

p.completion-percentage {
	color: rgb(var(--primary-color));
	font-family: "Work Sans";
	font-size: 48px;
	line-height: 57px;
}

p.total-time {
	color: rgb(var(--primary-color));
	font-family: "Work Sans";
	font-size: 8px;
	line-height: 9px;
	text-align: right;
}

p.date {
	color: #9B9B9B;
	font-family: "Work Sans";
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
}

p.end-date {
	color: #9B9B9B;
	font-family: "Work Sans";
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	text-align: right
}

p.right-align {
	text-align: right;
}

p {
	margin-bottom:0rem; 
	margin-top:0rem;
}

.body {
	background-color: #FDFDFF;
}

//Styling for cards
.card {
	background-color: #FFF;
	padding: 24px;
	margin-top: 32px;
	box-shadow: 0 8px 16px 0 rgba(var(--primary-color),0.08);
	border-radius: 12px;
	border: none;
}

.hide {
	display:none;
}

.visibility-hidden {
	visibility: hidden;
}
//
//.monthly-process-assessment-hide {
//		display: none;
//}
//
//.monthly-process-assessment-active {
//	background-color: #FFF;
//	padding: 24px;
//	margin-top: 32px;
//	box-shadow: 0 8px 16px 0 rgba(13,57,255,0.08);
//	border-radius: 12px;
//	border: none;
//	height: 272px;
//}

.wrapper {
	min-height: 50px;
	width: 100%;
	flex-direction: row;
	display: flex;
	justify-content:space-between;
	max-width: 534px;
}

.circle {
	width: 92px;
	height: 92px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	border: 3px solid;
	border-color: rgba(var(--primary-color),0.21);
}

.no-padding {
	padding: 0;
	margin: 0;
}

.spacer {
	padding-top: 30px;
}

delete-button {
	background-color: #fff;
}

.icon_20 {
	font-size: 20px !important;
	color: rgb(var(--primary-color));
	cursor: pointer;
}

.icon-18 {
	width: 18px;
	height: 18px;
	color: rgb(var(--primary-color));
}

.icon_12 {
	font-size: 12px !important;
	margin-right: 0.5em;
	line-height: 14px;
	color: #FFF;
	background-color: rgb(var(--primary-color));
	border-radius: 50%;
	padding: 3px;
}

.icon-14 {
	font-size: 14px;
	color: rgb(var(--primary-color));
	margin-top: -37px;
}

.icon-14:hover {
	text-decoration: none;
}

.icon-14-risk-update {
	font-size: 16px !important;
	color: rgb(var(--primary-color));
}

.icon-14-check {
	font-size: 14px !important;
	color: rgb(var(--primary-color)) !important;
	margin-top: 4px !important;
}

.icon-14-check-error {
	font-size: 14px !important;
	color: #E11750;
	margin-top: 4px;
}

.icon-14-check-attention {
	font-size: 14px !important;
	color: #FFCC77 !important;
	margin-top: 4px !important;
}

.icon-messages {
	font-size: 14px !important;
	color: #B8E986;
	background-color: rgb(var(--primary-color));
	border-radius: 50%;
	display: flex;
	align-content: center;
	vertical-align: middle !important;
	padding: 3px;
	margin-left: -15px;
}

.icon-messages-alert {
	font-size: 20px !important;
	color: #FFF;
	//	background-color: #FFF;
	border-radius: 50%;
	display: flex;
	align-content: center;
	vertical-align: middle !important;
	padding: 3px;
	margin-left: -15px;
}

.icon-messages-close {
	font-size: 14px !important;
	color: #B8E986;
	background-color: rgb(var(--primary-color));
	border-radius: 50%;
	display: flex;
	align-content: center;
	vertical-align: middle !important;
	padding: 3px;
	margin-left: auto;
}



.icon-close {
	font-size: 14px;
	color: rgb(var(--primary-color));
}

.icon-close:hover {
	text-decoration: none;
}


.icon-24 {
	font-size: 24px !important;
	color: #FFF;
	background-color: rgb(var(--primary-color));
	border-radius: 50%;
	display: flex;
	align-content: center;
	vertical-align: middle !important;
	padding: 3px;
}

.icon-24-attention {
	font-size: 36px !important;
	color: (var(--attention));
	background-color: #FFF;
	border-radius: 50%;
	display: flex;
	align-content: center;
	vertical-align: middle !important;
	//	padding: 3px;
}

.icon-24-no-background {
	font-size: 24px !important;
	color: rgb(var(--primary-color));
	background-color: #FFF;
	border-radius: 50%;
	display: flex;
	align-content: center;
	vertical-align: middle !important;
	padding: 3px;
}

.icon-46 {
	font-size: 46px !important;
	color: #FFF;
	background-color: rgb(var(--primary-color));
	border-radius: 50%;
	display: flex;
	align-content: center;
	vertical-align: middle !important;
	padding: 27px;
}

.icon-padding {
	//	margin-right: 18px;
	font-size: 16px !important;
	//	color: #4A4A4A;
	//	margin-top: 2px;
	//	
	border-radius: 50%;
	display: flex;
	align-content: center;
	vertical-align: middle !important;
	border: 1px solid #4A4A4A;
}

.icon-add {
	font-size: 24px !important;
	color: #FFF;
	background-color: rgb(var(--primary-color));
	border-radius: 50%;
	display: flex;
	align-content: center;

	padding: 6px;
}

#burger-icon {
	color: rgb(var(--primary-color));
	cursor: pointer;


}

#burger-icon-in-menu {
	color: #FFF;
	align-content: flex-end;
	margin-left: 469px;
	margin-top: -265px;
	cursor: pointer;
	z-index: 10;

}


.on-track-indicator {
	height: 8px;
	width: 8px;
	background-color: #01FF9A;
	border-radius: 50%;
	margin-right: 8px;
}

.not-on-track-indicator {
	height: 8px;
	width: 8px;
	border-radius: 50%;
	margin-right: 8px;
	background-color: #B30057;
}

.on-track {
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
}

.my-75 {
	margin-top: ($spacer * .75) !important;
	margin-bottom: ($spacer * .75) !important;
}

.mt-66 {
	margin-top: ($spacer * .66) !important;
}

.mt-83 {
	margin-top: ($spacer * .83) !important;
}

.mt-266 {
	margin-top: ($spacer * 2.66) !important;
}

.mt-200 {
	margin-top: ($spacer * 2) !important;
}

.mt-133 {
	margin-top: ($spacer * 1.33) !important;
}

.mt-200 {
	margin-top: ($spacer * 2) !important;
}


.mr-133 {
	margin-right: ($spacer * 1.33) !important;
}

.mt-300 {
	margin-top: ($spacer * 3) !important;
}

.mb-300 {
	margin-bottom: ($spacer * 3) !important;
}

.mb-350 {
	margin-bottom: ($spacer * 3.5) !important;
}

.mb-400 {
	margin-bottom: ($spacer * 4) !important;
}

.mb-420 {
	margin-bottom: ($spacer * 4.2) !important;
}

.mb-450 {
	margin-bottom: ($spacer * 4.5) !important;
}

.mt-350 {
	margin-top: ($spacer * 3.5) !important;
}

.mt-400 {
	margin-top: ($spacer * 4) !important;
}

.margin-correction {
	margin-left: ($spacer * 3.66) !important;
	margin-top: 4px;
}

.extra-margin {
	margin-left: 38px;
}

span {
	margin-right: 1.5em;
}

.material-icons {
	vertical-align: middle !important;
}

.progress-bar-filling {
	height: 2px;
	background-color: rgb(var(--primary-color));
	border-bottom-right-radius: 2px; 
	border-top-right-radius: 2px; 
}

.progress-full {
	height: 2px;
	border: 1px solid rgba(155,155,155,0.51);
	position: absolute;
	left: 102px; 
	right: 102px; 
	bottom: 30px;
}

.progress-dot-active {
	height: 6px;
	width: 6px;
	background-color: rgb(var(--primary-color));
	border-radius: 50%;
	position: absolute;
	left: 98px; 
	bottom: 28px;
}

.progress-dot-inactive {
	height: 6px;
	width: 6px;
	background-color: #cccccc;
	border-radius: 50%;
	position: absolute; 
	right: 98px; 
	bottom: 28px;
}

.progress-dot-active-right {
	height: 6px;
	width: 6px;
	background-color: rgb(var(--primary-color));
	border-radius: 50%;
	position: absolute; 
	right: 98px; 
	bottom: 28px;
}

input#project_work_hours {
	color: #4a4a4a;
	font-family: "Work Sans";
	border: none;
	font-size: 14px;
	outline:none;
	caret-color: rgb(var(--primary-color));
	width: 140px;
}

input#project_hours_sold_for {
	color: #4a4a4a;
	font-family: "Work Sans";
	border: none;
	font-size: 14px;
	outline:none;
	caret-color: rgb(var(--primary-color));
	width: 140px;
}

input#project_project_start_date {
	color: #4a4a4a;
	font-family: "Work Sans";
	border: none;
	font-size: 14px;
	outline:none;
	caret-color: rgb(var(--primary-color));
	width: 140px;
}

input#project_project_end_date {
	color: #4a4a4a;
	font-family: "Work Sans";
	border: none;
	font-size: 14px;
	outline:none;
	caret-color: rgb(var(--primary-color));
	width: 140px;
}

.edit-view-styling input[type=text]{

	//	width: 140px;
	//	height: 30px;

}

.edit-view-styling:focus input[type=text] {
	outline:none;
}


.edit-view-styling input:focus::-webkit-input-placeholder {

}


.edit-view-styling ::placeholder {

}

input[type=text].search-bar {
	height: 40px;		
	width: 540px;
	border-radius: 20px;
	border: none;
	background-color: rgba(13,57,255,0.05);
	padding-left: 52px; 
	color: rgba(13,57,255,0.34);
	font-family: Lato;
	font-style: italic;
}

input[type=text].search-bar:focus {
	padding-left: 52px; 
	color: rgba(13,57,255,1);
	font-family: Lato;
	font-size: 14px;
	font-style: italic;
	line-height: 17px;
	outline: none;
}


input.search-bar:focus::-webkit-input-placeholder {
	opacity: 0;
}


.search-bar::placeholder {
	color: rgba(13,57,255,0.34);
	font-family: Lato;
	font-size: 14px;
	font-style: italic;
	line-height: 17px;
}

.inner-addon { 
	position: relative; 
}

/* style icon */
.inner-addon .search {
	position: absolute;
	padding-top: 11px;
	padding-left: 19px;
	pointer-events: none;
}

.top-nav {
	height: 54px;
	width: 100%;
	background-color: #FFFFFF;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.12);
	border:2px;
	display: flex;
	flex-direction: row; 
	position: fixed;
	top: 0;
	z-index: 9;
	margin-bottom: 200px;
}

.top-nav-landing-page {
	height: 54px;
	width: 100%;
	display: flex;
	flex-direction: row; 
	position: fixed;
	top: 15px;
	z-index: 9;
	margin-bottom: 200px;
}

.top-nav-modal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.inner-nav {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.setup-project-information {
	color: #0D39FF;
	font-family: "Work Sans";
	font-size: 14px;
	line-height: 16px;
}

.setup-login-information {
	color: #0D39FF;
	font-family: "Work Sans";
	font-size: 14px;
	line-height: 16px;
}

.setup-login-information-small {
	color: #0D39FF;
	font-family: "Work Sans";
	font-size: 12px;
	line-height: 14px;
}

.menu-items a {
	opacity: 0.5;
	color: #0D39FF;
	font-family: "Work Sans";
	font-size: 14px;
	line-height: 16px;
	text-align: right;
	margin-right: 12px;
}

.menu-items a:hover{
	opacity: 1;
	text-decoration: none;
}


.menu-items a.selected {
	font-weight: bold;
	border-bottom: 4px;
	padding-bottom: 14px;
	border-style: none none solid none;
	border-color: #0D39FF;
	opacity: 1;
}

.new-project {
	display: flex;
	justify-content: center;
	align-items: center;
}

a:hover, a:visited, a:link, a:active
{
	text-decoration: none;
}


.client-name {
	color: #000000;
	font-family: Lato;
	font-size: 24px;
	line-height: 29px;
	margin-top: ($spacer * 1.33) !important;
	margin-bottom: 24px;
}


.project-boxes div {
	height: 48px;
	width: 255px;
	border-radius: 12px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 16px 0px 16px;
	margin:  0px 15px 30px 15px;
}

.project-boxes div p {
	color: #4a4a4a;
	font-family: Lato;
	font-size: 16px;
	line-height: 19px;
}

.project-boxes div.already-on-dashboard {
	i {
		font-size: 30px;
		color: #9B9B9B;
	}
	p {
		color: #9B9B9B;
	}
}

.project-boxes div.already-on-dashboard:hover {
	border:none;
	cursor: default;
	pointer-events: none;

	i {
		font-size: 30px;
		color: #9B9B9B;
	}

	p {
		color: #9B9B9B;
	}
}

.project-boxes div:hover {
	border: 1px solid rgb(var(--primary-color));
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	cursor: pointer;
	p {
		color: rgb(var(--primary-color));
	}	
}

.project-boxes i {
	font-size: 30px;
	color: #fff;
}

.project-boxes {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(255px, 1fr));
	margin: 0px -15px 0px -15px;
}

.project-boxes>* {
	flex: 1 1 255px;
}

.settings-menu {
	height: 166px;
	width: 182px;
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
	z-index: 2;
}

.top-nav-add-project-flow {
	//	height: 54px;
	height: 200px;
	width: 100%;
	background-color: #FFFFFF;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.12);
	border:2px;
	display: flex;
	flex-direction: row; 
	position: fixed;
	top: 0;
	z-index: 100;


}

.inner-nav-add-project-flow {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

#add-project-flow-title {
	justify-content: space-between;
}

.add-project-content {
	align-content: center;
}

.add-project-content-top {
	display: flex;
	flex-direction: column;
	margin-bottom: 64px;
}

.add-project-content-top > div {
	display: flex;
	flex-direction: row;
}

.add-project-box {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;

}

.add-project-box div {
	display: flex;
	flex-direction: column;
}

.add-project-box > div > div {
	display: flex;
	flex-direction: row;
	margin-top: 7px;
	align-items: flex-start;


}

.add-project-box > div > div > .project-data-type {
	margin-right: 18px;
	font-size: 20px;
	color: #4A4A4A;
	margin-top: 3px;
}

.add-project-box > div > div > p {
	color: #4A4A4A;
	font-family: "Work Sans";
	font-size: 12px;
	line-height: 14px;
}


.checked-input {
	flex-direction: row !important;
	justify-content: space-between;
}

#underline1 {
	height: 1px;
	width: 160px;
	border-bottom: 1px solid #9B9B9B;
	margin-top: 10px;
	margin-bottom: 30px;
}

#underline1-error {
	height: 1px;
	width: 160px;
	border-bottom: 1px solid #E11750;
	margin-top: 10px;
	margin-bottom: 30px;
}

#underline2 {
	height: 1px;
	width: 160px;
	border-bottom: 1px solid #9B9B9B;
	margin-top: 10px;
	margin-bottom: 30px;
}

#underline2-error {
	height: 1px;
	width: 160px;
	border-bottom: 1px solid #E11750;
	margin-top: 10px;
	margin-bottom: 30px;
}

#underline3 {
	height: 1px;
	width: 160px;
	border-bottom: 1px solid #9B9B9B;
	margin-top: 10px;
	margin-bottom: 30px;
}

#underline3-error {
	height: 1px;
	width: 160px;
	border-bottom: 1px solid #E11750;
	margin-top: 10px;
	margin-bottom: 30px;
}

#underline4 {
	height: 1px;
	width: 160px;
	border-bottom: 1px solid #9B9B9B;
	margin-top: 10px;
	margin-bottom: 30px;
}

#underline4-error {
	height: 1px;
	width: 160px;
	border-bottom: 1px solid #E11750;
	margin-top: 10px;
	margin-bottom: 30px;
}

#underline5 {
	height: 1px;
	width: 300px;
	border-bottom: 1px solid #9B9B9B;
	margin-top: 10px;
	margin-bottom: 30px;
}

#underline6 {
	height: 1px;
	width: 300px;
	border-bottom: 1px solid #9B9B9B;
	margin-top: 10px;
	margin-bottom: 30px;
}

.modal {
	z-index: 2;
	height: 215px;	
	width: 607px;	
	border: 1px solid rgb(var(--primary-color));	
	border-radius: 12px;	
	background-color: #FFFFFF;	
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16);
	padding: 20px;
	margin: auto;
}

.modal-archive {

	height: 400px;	

}

.project-modal-header a {
	position: absolute;
	text-align: right; 
	top: 29px;
	right: 29px;
	display: block;
	width: 14px;
	height: 14px;
	//  text-indent: -9999px;

}

.project-modal-header p {
	margin-left: 16px;
}

.project-modal-header {
	display:flex;
	flex-direction: column;
	align-content: space-between;
	align-items: flex-start;
}

.project-modal-header > div:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.project-modal-content p {
	text-align: left;
}

.project-modal-footer {
	text-align: left;
	margin-top: 32px;
	margin-bottom: 32px;
	margin-right: 15px;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.add-project {
	border-radius: 20px;
	background-color: rgb(var(--primary-color));
	padding: 8px 22px 8px 22px;
	color: #FFF;
	margin-left: 24px;
}

.add-project-inactive {
	border-radius: 20px;
	background-color: #9B9B9B;
	padding: 8px 22px 8px 22px;
	color: #FFF;
	margin-left: 24px;
	cursor: not-allowed;
}

.add-and-create-another-inactive {
	border-radius: 20px;
	padding: 8px 22px 8px 22px;
	color: #9B9B9B;
	margin-left: 24px;
	cursor: not-allowed;
}

.dont-add-project {
	border: 1px solid #0D39FF;
	border-radius: 20px;
	padding: 8px 22px 8px 22px;
	color: rgb(var(--primary-color));
	border-color: rgb(var(--primary-color));
}

.add-project-buttons {
	align-items: flex-end;
	margin-top: 64px;
}

.add-project:hover {
	cursor: pointer;
}

.delete-project-btn {
	border-radius: 20px;
	background-color: var(--danger-color);	
	display: flex;
	align-items: center;
	padding: 8px 22px 8px 22px;
	color: #FFF;

}

.delete-project-btn:hover {
	color: #FFF;
}

.archive-project-btn {
	border-radius: 20px;
	background-color: rgb(var(--primary-color));	
	display: flex;
	align-items: center;
	padding: 8px 22px 8px 22px;
	color: #FFF;
}

.archive-project-btn:hover {
	cursor: pointer;
}

.cancel {
	color: rgb(var(--primary-color));
	font-family: "Work Sans";
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	text-align: center;
	margin-right: 40px;
}

.gear-menu {
	z-index: 2;
	//	height: 204px;
	//	width: 182px;
	border-radius: 4px;	
	background-color: #FFFFFF;	
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
	position: absolute;
	margin-left: 12px;
	margin-top: -8px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: space-around;
}

.gear-menu-team {
	//	height: 204px;
	//	width: 182px;
	border-radius: 4px;	
	background-color: #FFFFFF;	
	position: absolute;
	margin-left: 12px;
	margin-top: -8px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: space-around;
}


.close-gear-icon {
	text-align: right;
	vertical-align: top;
	font-size: 16px !important;
	color: rgb(var(--primary-color));
	margin-top: 14px;
	margin-right: 14px;
	align-self: flex-end;
	cursor: pointer;

}

.gear-menu div {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
	margin-right: 24px;
	margin-bottom: 12px;
	cursor: pointer;
}

.gear-menu-team div {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
	margin-right: 24px;
	margin-bottom: 12px;
	cursor: pointer;
}

.gear-menu div i {
	height: 20px;
	color: rgb(var(--primary-color));
	margin-right: 10px;
	margin-left: 14px;
}

.gear-menu-team div i {
	height: 20px;
	color: rgb(var(--primary-color));
	margin-right: 10px;
	margin-left: 14px;
}

.gear-menu div p {
	color: rgb(var(--primary-color));
	font-size: 14px;
	line-height: 16px;
}

.gear-menu-team div p {
	color: rgb(var(--primary-color));
	font-size: 14px;
	line-height: 16px;
}

.gear-menu div form p input {
	color: rgb(var(--primary-color));
	font-size: 14px;
	line-height: 16px;
	border: unset;
	padding-left: unset;
	cursor: pointer;
}

.line {
	color: #E5E5E5;
	border-top: 1px solid;
	width: 100%
}

#burger-menu {
	height: 100vh;
	margin-left: -15px;
	background-color: #0D39FF;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.22);
	z-index: 10;
	position: fixed;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: space-around;
	padding-top:150px;
	padding-right: 20px;
	display: block;
}

.burger-menu-content {
	margin-left: 164px;
}


.projectio-menu {
	color: #FFFFFF;
	font-family: "Work Sans";
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;
	margin-bottom: 12px;
}

.burger-menu-items {
	display: flex;
	flex-direction: column;
	line-height: 0px;
}

.burger-menu-items div {
	margin-top: 32px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.burger-menu-items div a {
	color: #FFFFFF;
	font-family: Lato;
	font-size: 24px;
	font-weight: 900;
	line-height: 29px;

}

.burger-menu-items div i {
	color: #FFFFFF;
	margin-right: 10px;
}

.burger-menu-line {
	box-sizing: border-box;
	height: 3px;
	width: 256px;
	border-top: 1px solid #FFFFFF;
	margin-bottom: 10px;
}


.add-risk-and-action {
	margin-top: 64px;
	justify-content: flex-start;
}

.risk-action-title {
	margin-bottom: 24px;
}

.risk-action-title p {
	font-family: "Work Sans";
	font-size: 24px;
	line-height: 28px;
	color: rgb(var(--primary-color));
}

.risk-action-title i {
	font-size: 24px;
	line-height: 28px;
	color: rgb(var(--primary-color));
	margin-right: 14px;
}

.add-risk-and-action div {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.add-risk-and-action div div {
	margin-top: 5px;
}

.add-risk-and-action div div div i {
	color: rgb(var(--primary-color));
	font-size: 14px;
}

.add-risk-and-action div div div p {
	color: rgb(var(--primary-color));
	font-family: "Work Sans";
	font-size: 14px;
	line-height: 16px;
	margin-left: 10px; 
}

.risk-text {
	justify-content: flex-start;
}

.risk-text p {
	color: #4A4A4A;
	font-family: "Work Sans";
	font-size: 16px;
	line-height: 19px;
}

.add-risk-and-action > div:nth-child(3)  {
	display: flex;
	flex-direction: column;
}

.view-all-risks {
	color: rgb(var(--primary-color));

}

.swap-icon i {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 28px !important;
}

div.submit-risk-action {
	margin-top: 16px !important;
	align-items: center;
	justify-content: flex-end;
}

.add-risk-action {
	border-radius: 20px;
	background-color: rgb(var(--primary-color));
	padding: 8px 22px 8px 22px;
	color: #FFF;
	margin-left: 24px;
}

.add-and-create-another {
	border: 1px solid #0D39FF;
	border-radius: 20px;
	padding: 8px 22px 8px 22px;
	color: rgb(var(--primary-color));
	border-color: rgb(var(--primary-color));
}

a.view-all-risks {
	margin-right: auto;
}

input#risk_action_risk {
	color: #4a4a4a;
	font-family: "Work Sans";
	border: none;
	font-size: 14px;
	outline:none;
	caret-color: rgb(var(--primary-color));
	width: 300px;

}

input#risk_action_action {
	color: #4a4a4a;
	font-family: "Work Sans";
	border: none;
	font-size: 14px;
	outline:none;
	caret-color: rgb(var(--primary-color));
	width: 300px;

}

input.add-and-create-another {
	cursor: pointer;
}

input.add-risk-action {
	cursor: pointer;
}

.error-bar-wrapper {
	background-color: #FFCC77;
	opacity: 0.98;
	width: 100%;
	border:2px;
	display: flex;
	flex-direction: row; 
	position: fixed;
	top: 54px;
	left: 0;
}

.message-bar-wrapper {
	background-color: #B8E986;
	opacity: 0.98;
	width: 100%;
	border:2px;
	position: fixed;
	top: 54px;
	left: 0;
	z-index: 10;
}

.message-bar-inner-wrapper {
	display: flex;
	padding-top: 17px;
	padding-bottom: 17px;
	align-items: center;
}

.message-bar-wrapper-alert {
	background-color: #FFCC77;
	opacity: 0.98;
	width: 100%;
	border:2px;
	position: fixed;
	top: 54px;
	left: 0;
	z-index: 10;
}

.notice {
	color: #0D39FF;
	font-family: "Work Sans";
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	margin-left: 24px;
}

.notice-alert {
	color: #FFF;
	font-family: "Work Sans";
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	margin-left: 24px;
}

.error {
	color: #E11750;
	font-family: "Work Sans";
	font-size: 12px;
	line-height: 14px;
	margin-top: -25px;
	margin-bottom: 20px;
	margin-left: 39px;
}

.margin-left-auto {
	margin-left: auto !important;
}

.margin-right-auto {
	margin-right: auto;
}

.risk-update-text {
	color: #4a4a4a;
	font-family: "Work Sans";
	font-size: 14px;
	line-height: 16px;
	margin-left: 12px;
}

.innter-risk-update {
	width: 50%;
	margin: 0 auto;
}

.box {
	flex: 1;
	display: flex;
	justify-content: center;
}

.box:first-child {
	justify-content: flex-start;
}

.box:nth-child(2) {
	justify-content: center;
}

.box:last-child {
	justify-content: flex-end;
}

.project-details-content-top {
	display: flex;
	flex-direction: column;
	margin-top: 111px;
}

.project-details-content-top > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.process-details-wrapper > div > div {
	border-radius: 12px;
	background-color: #FFFFFF;
	box-shadow: 0 8px 16px 0 rgba(var(--primary-color),0.25);
	height: 289px;
	margin-bottom: 27px;
}

.highcharts-container {
	border-radius: 12px;
}

.risk-actions-details-wrapper > div > div:first-of-type {
	height: 44px;
	border-radius: 12px;
	background-color: #FFFFFF;
	box-shadow: 0 8px 16px 0 rgba(var(--primary-color),0.25);
}

.risk-actions-details-wrapper > div > div:last-of-type {
	height: 32px;
}

.risk-actions-details-wrapper > div:nth-child(3n+1) > div:first-of-type  {
	border-radius: 22px;
	background-color: #CFCFCF;
	color: #FFF;
	box-shadow: none;
}

.risk-actions-details-wrapper > div:nth-child(3n+1) > div p {
	color: #FFF;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.headline-projects-view {
	margin-top: 21px;
	margin-bottom: 24px;
}

.border-right {
	border-right: 3px dotted #CFCFCF !important;
}

.risk-action-text p {
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%); 
}

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 40vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}

.contact-people-label {
	display: flex;
	margin-top: 24px;
	margin-bottom: 44px;
	flex-wrap: wrap;
}

.contact-people-label p {
	margin-right: 16px;
	border-radius: 16px;	
	background-color: #99ACFF;
	padding: 6px 24px 6px 24px; 
	color: #FFFFFF;	
	font-family: "Work Sans";	
	font-size: 16px;	
	line-height: 19px;
	margin-bottom: 10px;
}
.contact-people-label p:nth-child(2n+0) {
	background-color: #FF96B4;
}

.contact-people-label p:nth-child(3n+0) {
	background: #68AAD4;
}

.contact-people-label-team-view {
	display: flex;
	//	margin-top: 24px;
	//	margin-bottom: 44px;
	flex-wrap: wrap;
}

.contact-people-label-team-view p {
	margin-right: 8px;
	border-radius: 16px;	
	background-color: rgb(var(--primary-color));
	padding: 4px 12px 4px 12px; 
	color: #FFFFFF;	
	font-family: "Work Sans";	
	font-size: 10px;	
	line-height: 12px;
	margin-bottom: 10px;
}


.project-filter-container {
	display: flex;
	margin-top: 115px;
}

.project-filters {
	display: flex;
	padding-left: 27px;
	padding-right: 27px;
	padding-bottom: 10px;
	align-items: center;
}

.project-filter-container a.selected {
	border-bottom: 5px;
	border-style: none none solid none;
	border-color: rgb(var(--primary-color));
	opacity: 1;
	padding-bottom: 5px;
}

.project-filter-container a.selected p {
	color: rgb(var(--primary-color));
	font-weight: 600;
	opacity: 1;
}

.project-filter-container a.selected i {
	color: rgb(var(--primary-color));
	opacity: 1;
}

.project-filter-container > a p {
	opacity: 0.5;
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 22px;
}

.search-bar-filters {
	margin-left: auto !important;
}

.search-bar-filters i {
	color: rgb(var(--primary-color));
}

.project-filter-container > a > div > div:first-child {
	margin-right: 18px;
}

.project-filters i {
	font-size: 24px !important;
	color: #4A4A4A;
	opacity: 0.5;
}

.project-filters-underline {
	background-color: rgba(74,74,74,0.3);
	height: 2px;
	width: 100%;
	margin-top: -1px;
	margin-bottom: 45px;
}

.setup-navigation {
	margin-top: auto;
	margin-bottom: 10vh;
	position: fixed;
	bottom: 0;
	align-self: center;
	border: 2px solid rgba(13,57,255,0.3);
	border-radius: 36px;
	padding: 0.5em 2em 0.5em 2em;
	background-color: #FFF;
	box-shadow: 0 4px 8px 0 rgba(13,57,255,0.24);
}    

.setup-navigation > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.setup-organisation-box {
	border-radius: 12px;
	background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
	box-shadow: 0 8px 16px 0 rgba(13,57,255,0.25);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.create-user-box {
	border-radius: 12px;
	background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
	box-shadow: 0 8px 16px 0 rgba(13,57,255,0.25);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.invite-colleagues-box {
	border-radius: 12px;
	background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
	box-shadow: 0 8px 16px 0 rgba(13,57,255,0.25);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.setup-headline-box {
	color: #212121;
	font-family: "Work Sans";
	font-size: 24px;
	font-weight: 600;
	line-height: 28px;
	text-align: center;
}

.create-user-from-invitation-box {
	border-radius: 12px;
	background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
	box-shadow: 0 8px 16px 0 rgba(13,57,255,0.25);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.setup-headline-no-box {
	color: #212121;
	font-family: "Work Sans";
	font-size: 24px;
	font-weight: 600;
	line-height: 28px;
	text-align: center;
	margin-top: 136px;
	margin-bottom: 12px;
}

.setup-subtitle {
	color: #21214A;
	font-family: "Work Sans";
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}

.next-and-add-organisation {
	border-radius: 20px;
	background-color: rgb(var(--primary-color));
	padding: 8px 22px 8px 22px;
	color: #FFF;
	border: none;
	cursor: pointer;
}

.next-and-add-organisation-inactive {
	border-radius: 20px;
	background-color: #9B9B9B;
	padding: 8px 22px 8px 22px;
	color: #FFF;
	border: none;
	cursor: not-allowed;
}

.next-and-create-user {
	border-radius: 20px;
	background-color: rgb(var(--primary-color));
	padding: 8px 22px 8px 22px;
	color: #FFF;
	border: none;
	cursor: pointer;
}

.next-and-create-user-inactive {
	border-radius: 20px;
	background-color: #9B9B9B;
	padding: 8px 22px 8px 22px;
	color: #FFF;
	border: none;
	cursor: not-allowed;
}

.next-done {
	border-radius: 20px;
	background-color: rgb(var(--primary-color));
	padding: 8px 22px 8px 22px;
	color: #FFF;
	border: none;
	justify-content: center;
	display: flex;
}


.sign-up-flow-underline {
	height: 1px;
	width: 50%;
	background-color: #9B9B9B;
	margin-bottom: 48px;
}

.sign-up-flow-underline-error {
	height: 1px;
	width: 50%;
	background-color: var(--danger-color); 
	margin-bottom: 48px;
}

input#organisation_organisation_name, 
input#user_first_name, input#user_last_name, 
input#user_email, input#user_password, 
input#user_password_confirmation,
input#invitation_email, 
.fixed-inputs  {
	color: rgb(var(--primary-color));
	font-family: "Work Sans";
	border: none;
	font-size: 24px;
	font-weight: 600;
	line-height: 28px;
	outline:none;
	caret-color: rgb(var(--primary-color));
	width: 216px;
	text-align: center;
	margin-bottom: 12px;
	margin-top: 12px;
}

.explainer {
	opacity: 0.5;
	color: #212121;
	font-family: "Work Sans";
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	margin-left: 64px;
	margin-right: 64px;
}

.numbers-in-setup {
	background-color: #9B9B9B;
	border-radius: 50%;
	height: 16px;
	width: 16px;
}

.inside-number p.number {
	color: #FFFFFF;
	font-family: "Work Sans";
	font-size: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.numbers-in-setup.selected {
	background-color: rgb(var(--primary-color)) !important;
	height: 24px !important;
	width: 24px !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.inside-number p.selected {
	color: #FFFFFF;
	font-size: 12px;
}

.back-button {
	margin-right: 2vw;
}

.next-button {
	margin-left: 2vw;
}

.tool-boxes div {
	height: 114px;
	width: 160px;
	border-radius: 12px;
	box-shadow: 0 8px 16px 0 rgba(13,57,255,0.25);
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 24px;
	align-items: center;
	justify-content: center;
	display: flex;
}

.tool-boxes div:hover {
	border: 1px solid rgb(var(--primary-color));
	box-shadow: 0 8px 16px 0 rgba(13,57,255,0.25);
	cursor: pointer;
	p {
		color: rgb(var(--primary-color));
	}	
}

.tool-boxes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	justify-content: center;
	margin-top: 48px;
	margin-bottom: 115px;
}

.tool-boxes div.inactive {
	p{
		color: #9B9B9B;
	}
}

.tool-boxes div.inactive:hover {
	border:none;
	cursor: default;
}

.tools-logo-height {
	height: 70px;
}

div.field_with_errors + i {
	font-size: 14px !important;
    color: var(--danger-color);
	margin-top: 4px;
	display: flex;
}

.flex-column-errors {
	display: flex !important;
    justify-content: center;
	flex-direction: column;
}

.error-message {
	padding-bottom: 30px;
}

#overlay-hero {
	height: 80vh;
	width: 100%;
	background: linear-gradient(180deg, #0B0B7F 0%, #000000 100%);
	min-height: 800px;
}

#section-2::before {
	@extend .material-icons;
    content: 'keyboard_arrow_down';
    color: #FFF;
    font-family: "Material Icons";
    font-size: 28px;
    margin-top: -3rem;
    justify-content: center;
    display: flex;
}

#section-2 {
	height: 70vh;
	min-height: 800px;
	background: linear-gradient(358.88deg, #0B0B7F 0%, #000000 100%);
}

#section-3 {
	height: 70vh;
	background: linear-gradient(4.26deg, #0B0B7F 0%, #000000 100%);
}

#section-4 {
	height: 10vh;
	background-color: #051564;
}

#section-5 {
	height: 50vh;
	background: linear-gradient(1.41deg, #0B0B7F 0%, #000000 100%);
}

#footer {
	height: 30vh;
	background: linear-gradient(0deg, #0B0B7F 0%, #000000 100%);
}

.landing-page-nav-logo  {
	color: #FFFFFF;
	font-family: "Work Sans";
	font-size: 36px;
	font-weight: 900;
}

.setup-login-information-small {
	color: #0D39FF;
	font-family: "Work Sans";
	font-size: 12px;
	line-height: 14px;
	font-weight: 900;
}

.login-button {
	border: 1px solid #FFFFFF;
	border-radius: 32px;
	color: #FFFFFF;
	padding: 4px 40px 4px 40px;	
}

.signup-button {
	border: 1px solid #0D39FF;
	border-radius: 32px;
	color: #FFFFFF;
	padding: 4px 40px 4px 40px;	
	background-color: #0D39FF;
}

.get-started-button {
	border: 1px solid #0D39FF;
	border-radius: 32px;
	color: #FFFFFF;
	padding: 7px 40px 7px 40px;	
	background-color: #0D39FF;
	margin: 0 15px 0 15px;
}

.landing-content-space {
	display: flex;
	flex-direction: column;
}

.spacer-landing-page {
	height: 25vh;
}

.row-no-padding {
	[class*="col-"] {
	  padding-left: 0 !important;
	  padding-right: 0 !important;
	}
  }

.landing-title {
	color: #FFFFFF;
	font-family: "Work Sans";
	font-size: 72px;
	font-weight: 800;
}

.landing-subtitle {
	opacity: 0.75;
	color: #FFFFFF;
	font-family: Lato;
	font-size: 22px;
	font-weight: bold;
	line-height: 28px;
}

.link-style {
	color: #0D39FF;
	font-family: "Work Sans";
	font-size: 16px;
	font-weight: 500;
}

.landing-boxes {
	height: 83px;
	width: 208px;
	border-radius: 8px;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.15);
	display: flex;
    align-items: center;
    flex-direction: row;
	justify-content: space-evenly;
	z-index: 1;

	&.box-1{
		background-color: #59D2FE;
	}

	&.box-2 {
		background-color: #01FF9A;
	}

	&.box-3 {
		background-color: #5C7AFF;
	}
}

.oval {
	height: 32px;
	width: 32px;
	background-color: #FFFFFF;
	margin-right: 20px;
	margin-left: 20px;

}

.round {
	-webkit-border-top-left-radius: 100%;
	-webkit-border-top-right-radius: 100%;
	-webkit-border-bottom-right-radius: 100%;
	-webkit-border-bottom-left-radius: 100%;
  
	-moz-border-radius-topleft: 100%;
	-moz-border-radius-topright: 100%;
	-moz-border-radius-bottomright: 100%;
	-moz-border-radius-bottomleft: 100%;
  
	border-top-left-radius: 100%;
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;

	background-color: #FFFFFF;
  }

  .line-1 {
	width: 100%;
	border: 3.5px solid #FFFFFF;
	border-radius: 8px;
  }

  .line-2 {
	width: 75%;
	border: 3.5px solid #FFFFFF;
	border-radius: 8px;
}

.lines {
	flex-grow: 2;
	margin-right: 20px;
}

.box-row-1 {
	justify-content: flex-end;
}

.box-row-2 {
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.box-row-3 {
	justify-content: center;
}



.dotted-line-1 {
    display: flex;
    flex-grow: 1;
}

.dotted-line-2 {
    display: flex;
    flex-grow: 1;
}



.dotted-line-1::after {
	@include xl {
    content: '';
    height: 7rem;
    width: 100%;
    border-radius: 4rem;
    border: 0 dotted #FFF;
    border-width: 0px 5px 5px 0px;
    margin-top: -65px;
    margin-left: -40px;
	}
}

.dotted-line-2::after {
	@include xl {
    content: '';
    height: 8rem;
    width: 100%;
    border-radius: 4rem;
    border: 0 dotted #FFF;
    border-width: 0px 0px 5px 5px;
    margin-top: -75px;
	margin-left: 50px;
	margin-right: -40px;

	}
}

.arrow {
	color: #FFF;
}

.hero-bottom {
	justify-content: center;
}

.setup-flow-wrapper {
	display: flex; 
	flex-direction: column; 
	min-height: 100vh;
}