
@import "bootstrap";

//general styles
h1,h2,h3,h4,h5,h6,p {
	color: #4a4a4a;
	font-family: "Work Sans";
}

h4 {
	margin:0rem;
}

p.text-16 {
	font-size: 16px;
	line-height: 28px;

}

p.text-24 {
	font-size: 24px;
	line-height: 28px;
}

.title {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.tekst {
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	vertical-align: middle !important;
}

.numbers {
	color: #0D39FF;
	font-family: "Work Sans";
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}

.blue {
	color: #0D39FF;
}

p.task-text {
	color: #0D39FF;
	font-family: "Work Sans";
	font-size: 8px;
	line-height: 9px;
	text-align: center;
	padding-top: 4px;
}

p.completion-percentage {
	color: #0D39FF;
	font-family: "Work Sans";
	font-size: 48px;
	line-height: 57px;
}

p.total-time {
	color: #0D39FF;
	font-family: "Work Sans";
	font-size: 8px;
	line-height: 9px;
	text-align: right;
}

p.date {
	color: #9B9B9B;
	font-family: "Work Sans";
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
}

p.end-date {
	color: #9B9B9B;
	font-family: "Work Sans";
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	text-align: right
}

p.right-align {
	text-align: right;
}

p {
	margin-bottom:0rem; 
	margin-top:0rem;
}

.body {
	background-color: #FDFDFF;
}

//Styling for cards
.card {
	background-color: #FFF;
	padding: 24px;
	margin-top: 32px;
	box-shadow: 0 8px 16px 0 rgba(13,57,255,0.08);
	border-radius: 12px;
	border: none;
}

.wrapper{
  min-height: 50px;
  width: 100%;
  flex-direction: row;
  display: flex;
	justify-content:space-between;
	max-width: 534px;
}

.circle{
  width: 92px;
  height: 92px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
	border: 3px solid rgba(13,57,255,0.21);
}

.no-padding {
	padding: 0;
	margin: 0;
}

.spacer {
	padding-top: 30px;
}

delete-button {
	background-color: #fff;
}

.icon_20 {
	font-size: 20px !important;
	color: #0D39FF;
}

.icon-18 {
	width: 18px;
	height: 18px;
	color: #0D39FF;
}

.icon_12 {
	font-size: 12px !important;
	margin-right: 0.5em;
	line-height: 14px;
	color: #FFF;
	background-color: #0D39FF;
	border-radius: 50%;
	padding: 3px;
}

.icon-24 {
	font-size: 24px !important;
	color: #FFF;
	background-color: #0D39FF;
	border-radius: 50%;
	display: flex;
	align-content: center;
	vertical-align: middle !important;
	padding: 3px;
}

.icon-add {
	font-size: 24px !important;
	color: #FFF;
	background-color: #0D39FF;
	border-radius: 50%;
	display: flex;
	align-content: center;
	
	padding: 6px;
}

.icon-menu {
	color: #0D39FF;
}


.on-track-indicator {
	height: 8px;
	width: 8px;
	background-color: #01FF9A;
  border-radius: 50%;
	margin-right: 8px;
}

.not-on-track-indicator {
	height: 8px;
	width: 8px;
  border-radius: 50%;
	margin-right: 8px;
	background-color: #B30057;
}

.on-track {
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
}

.my-75 {
  margin-top: ($spacer * .75) !important;
	margin-bottom: ($spacer * .75) !important;
}

.mt-66 {
	margin-top: ($spacer * .66) !important;
}

.mt-266 {
	margin-top: ($spacer * 2.66) !important;
}

.mt-200 {
	margin-top: ($spacer * 2) !important;
}

.mr-133 {
	margin-right: ($spacer * 1.33) !important;
}

.mt-350 {
	margin-top: ($spacer * 3.5) !important;
}

 span {
    margin-right: 1.5em;
  }

.material-icons {
  vertical-align: middle !important;
}

.progress-bar-filling {
	height: 2px;
	background-color: #0D39FF;
	
	border-bottom-right-radius: 2px; 
	border-top-right-radius: 2px; 
}

.progress-full {
	height: 2px;
	border: 1px solid rgba(155,155,155,0.51);
	position: absolute;
  left: 102px; 
  right: 102px; 
	bottom: 30px;
	

}

.progress-dot-active {
	height: 6px;
	width: 6px;
	background-color: #0D39FF;
  border-radius: 50%;
	position: absolute;
  left: 98px; 
	bottom: 28px;
	
}

.progress-dot-inactive {
	height: 6px;
	width: 6px;
	background-color: #cccccc;
  border-radius: 50%;
	position: absolute; 
  right: 98px; 
	bottom: 28px;
}

.progress-dot-active-right {
	height: 6px;
	width: 6px;
	background-color: #0D39FF;
  border-radius: 50%;
	position: absolute; 
  right: 98px; 
	bottom: 28px;
}

input[type=text] {
  height: 40px;		
	width: 540px;
	border-radius: 20px;
	border: none;
	background-color: rgba(13,57,255,0.05);
	padding-left: 52px; 
	color: rgba(13,57,255,0.34);
	font-family: Lato;
	font-style: italic;
}

input[type=text]:focus {
	padding-left: 52px; 
	color: rgba(13,57,255,1);
	font-family: Lato;
	font-size: 14px;
	font-style: italic;
	line-height: 17px;
	outline: none;


}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}


::placeholder {
	color: rgba(13,57,255,0.34);
	font-family: Lato;
	font-size: 14px;
	font-style: italic;
	line-height: 17px;

}

.inner-addon { 
   position: relative; 
}

/* style icon */
.inner-addon .search {
  position: absolute;
  padding-top: 11px;
	padding-left: 19px;
  pointer-events: none;
}

.top-nav {
	height: 54px;
	width: 100%;
	background-color: #FFFFFF;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.12);
	border:2px;
	display: flex;
	flex-direction: row; 
}

.inner-nav {
	display:flex;
	justify-content: space-between;
	align-items: center;
}



.menu-items a {
	opacity: 0.5;
	color: #0D39FF;
	font-family: "Work Sans";
	font-size: 14px;
	line-height: 16px;
	text-align: right;
	margin-right: 24px;
}

.menu-items a:hover{
	opacity: 1;
	text-decoration: none;
}
.menu-items a:active {
	color: #0D39FF;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: bold;
}

.menu-items a.selected {
	font-weight: bold;
	border-bottom: 4px;
	padding-bottom: 14px;
	border-style: none none solid none;
	border-color: #0D39FF;
	opacity: 1;
}

.new-project {
	display: flex;
	justify-content: center;
	align-items: center;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

