<div class='nested-fields'>
	<%= f.label :risk %>:
	<%= f.text_field :risk %><br />

	<%= f.label :action %>:
	<%= f.text_field :action %><br />

	<a class="remove" href="javascript:">Remove New Risk and Action</a>
</div>




<script>
	$(document).ready(function(){
		$(".remove").on("click",function(){
			$(this).parent().remove();				
		});
	});
</script>
