<div class="row">
	<div class="top-nav">
		<div class="col-1"></div>
		<div class="inner-nav col-10" >
			<p class="setup-project-information"><%= obj %></p>
			<%= link_to obj2 do %>
			<div class="material-icons icon-close">close</div>
			<% end %>
		</div>
		<div class="col-1"></div>
	</div>
</div>