<div class="row">
	<div class="top-nav">
		<div class="col-1"></div>
		<div class="inner-nav col-10" >
			<%= link_to obj do %>
			<p class="setup-project-information"><i class="material-icons">keyboard_arrow_left</i></p>
			<% end %>
		</div>
		<div class="col-1"></div>
	</div>
</div>