
<div class="row flash-notice" id="notices">	
	<div class="message-bar-wrapper d-flex flex-row">
		<div class="col-1"></div>
		<div class="col-10 message-bar-inner-wrapper">
			<i class="material-icons icon-messages ">done</i>
			<div class="text-16-19">	
				<div class="notice"><%= flash[:notice] %></div>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
</div>


<!--
<script>
    $(".message-bar-wrapper").fadeOut(3000, function() {
        $(this).hide();
    });
</script>

-->
