<div class="row">
	
	<div class="top-nav">
	
	<div class="col-1"></div>
	
		
		<div class="inner-nav col-10">
		<div class="burger-menu">
			<i class="material-icons icon-menu">menu</i>
		</div>
		
		
		<div class="menu-items">
			 <a href="#">Revenue</a>
			 <a href="#">Archived projects</a>
			 <a href="#">All projects</a>
			 <a class="selected active" href="#">Dashboard</a>
		 </div>
		 
	 	</div>
	 	
	 <div class="col-1"></div>
	
	</div>



</div>